<form action="/Product/Save" method="POST">
    Id:
    <input type="text" name="Id"/>
    <br/>
    Nome:
    <input type="text" name="Name"/>
    <br/>
    Preço:
    <input type="text" name="Price"/>
    <br/>
    <button type="submit">Salvar</button>
</form>