@model module4.Domain.Category
@using module4.Domain

@{
    ViewData["Title"] = "Cadastro de Categorias";
}

@foreach(var item in ViewBag.Categories as List<Category>)
{
    <li>
        @item.Name
    </li>
}

<form asp-action="Register" asp-controller="Category" method="POST">
    <div class="form-group">
        <label for="Name">Nome</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <button type="submit" class="btn btn-default">Salvar</button>
</form>